.topbar
{
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0px;
    z-index: 20;
    background-color: #ffff;
    position: fixed;
}
.box1
{
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FF3D71;
}
.topbar.active
{
    position: fixed;
    top: -50px;
}
.box1 p
{
    color: #ffff;
    font-size: 20px;
    cursor: pointer;
}
.box1 span
{
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #ffff;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
    cursor: pointer;
}
.box1 .closebox
{
    width: 27px;
    height: 21.5px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
} 
.box1 .closebox .line1
{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: left;
    transform: rotate(45deg);
}
.box1 .closebox .line2
{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: left;
    transform: rotate(-45deg);
}
.box2
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.box2 .minibox1
{
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 8%;
    overflow: hidden;
    color: #797979;
    font-size: 14px;
    height: 100%;
}
.box2 .minibox1 .miniboxx
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
    padding-right: 7px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.box2 .minibox1 span
{
    font-size: 25px;
    margin-right: 10px;
}
.box2 .minibox1 .p2
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.box2 .minibox1 .miniboxx:hover
{
    background-color: #111;
    color: #ffff;
}
.box2 .minibox1 .p2:hover
{
    background-color: #111;
    color: #ffff;
}
.box2 .minibox1 .miniboxx .mark
{
    font-size: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2 .minibox2
{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.box2 .minibox2 a
{
    list-style: none;
    text-decoration: none;
    margin-left: 25px;
    font-size: 12px;
    color: #9b9b9b;
    letter-spacing: 0.5px;
}
.box2 .minibox2 a:hover 
{
    color: #111;
}
.box2 .minibox3
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.box2 .minibox3 a
{
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
    color: #9b9b9b;
    letter-spacing: 0.5px;
}
.span1
{
    font-size: 19px;
    margin-right: 0px;
    margin-left: 10px;
}
.box2 .minibox3 a:hover
{
    text-decoration: underline;
    color: #111;
}
.box3 
{
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    margin-top: 0px;
}
.child1
{
    width: 17%;
    display: flex;
    margin-left: 40px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
.child1 img
{
    padding-left: 10px;
}
.spanbox
{
    width: 55px;
    padding-left: 5px;
    height: 32px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transform-origin: left;
    transition: 0.5s;
}
.spanbox.active2 .line3
{
    transform: rotate(45deg);
    transition: 0.5s;
}
.spanbox.active2 .line4
{
    opacity: 0;
    transition: 0.5s;
}
.spanbox.active2 .line5
{
    transform: rotate(-45deg);
    transition: 0.5s;
}
.line3
{
    width: 100%;
    background-color: black;
    height: 4px;
    transform-origin: left;
    transition: 0.5s;
}
.line4
{
    width: 100%;
    background-color: black;
    height: 4px;
    transition: 0.5s;
}
.line5
{
    width: 100%;
    background-color: black;
    height: 4px;
    transform-origin: left;
    transition: 0.5s;
}
.child2
{
    display: flex;
    width: 45%;
    height: 95%;
    margin-left: 20px;
    position: relative;
}
.box3 input
{
    background-color: #fff;
    border: 1px solid #b1b1b1;
    outline: none;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 40px;
    margin-left: 40px;
    margin-top: 5px;
    color: #b1b1b1;
    z-index: 2;
    transition: all 0.5s ease;
}
.box3 input.active1
{
    width: 90%;
    transform: scale(1.07);
}
.box3 .search
{
    position: absolute;
    display: grid;
    height: 30px;
    font-size: 10px;
    color: #797979;
    width: 30px;
    top: 13px;
    margin-left: 45px;
    place-items: center;
    z-index: 3;
    transition: all 0.5s ease;
}
.box3 .search.active1
{
    margin-left: 19px;
    transform: scale(1.1);
}
.child3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 40px;
    width: 15%;
    height: 100%;
}
.child3 .boxmini1
{
    display: flex;
    width: 30%;
    cursor: pointer;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.child3 .boxmini1:hover h4
{
    color: #111;
    font-weight: 600;
}
.child3 .boxmini1 h4
{
    font-size: 12px;
    color: #797979;
    font-weight: 400;
}
.child3 .boxmini1 .icon2
{
    font-size: 40px;
}
.box4
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 3;
}
.box4 ul
{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #2e3a59;
}
.box4 ul a
{
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    color: #2e3a59;
    padding-top: 10px;
    text-decoration: none;
    margin-left: 20px;
}
.box4 ul a:hover
{
    border-bottom: 5px solid #2e3a59;
}
