.topbar
{
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
}
.box1
{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 74, 159);
}
.box1.active
{
   position: relative;
   top: -100px;
}
.box1 p
{
    color: #ffff;
    font-size: 20px;
}
.box1 span
{
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #ffff;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
}
.box1 .closebox
{
    width: 27px;
    height: 21.5px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
} 
.box1 .closebox .line1
{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: left;
    transform: rotate(45deg);
}
.box1 .closebox .line2
{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: left;
    transform: rotate(-45deg);
}