.register
{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-1
{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top:0px;
    display: flex;
    justify-content: center;
}
.left2
{
    width: 50%;
    float: left;
    height: 100%;
}
.left2 img
{
    height: 700px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.right2
{
    width: 50%;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right2 h1
{
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    overflow: hidden;
}
.right2 .row
{
    width: 70%;
    margin-left: 30px;
    flex-direction: column;
    display: flex;
    height: 720px;
    background-color: #fff;
}
.right2 .row .col-6
{
    margin-top: 5px;
    height: 55px;
    display: flex;
    position: relative;
}
.right2 .row .col-8
{
    margin-top: 5px;
    height: 55px;
    display: flex;
    position: relative;
}

.right2 .row .col-8 .searchbox
{
    display: flex;
    position: absolute;
    right: 0px;
    margin-top: 10px;
    width: 160px;
    margin-right: 5px;
    height: 27px;
    border: 1.5px solid ;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6d6d6;
    border-top-color: rgb(214, 214, 214);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(214, 214, 214);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(214, 214, 214);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(214, 214, 214);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
}
.right2 .row .col-8 .searchbox .searchicon
{
    color: #b9b9b9;
    font-size: 20px;
    margin-right: 7px;
}
.right2 .row .col-8 .searchbox h4
{
    color: #595959;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.MuiFormLabel-root 
{
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    overflow: hidden;
    line-height: 1;
    letter-spacing: 0.00938em;
}  
.right2 .row .col-8 .MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 70%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.right2 .row .col-7
{
    display: flex;
    width: 100%;
    height: 55px;
}
.right2 .row .col-7 .col-4
{
    margin-right: 30px;
    width: 50%;
}
.right2 .row .col-7 .col-5
{
    width: 50%;
}

.right2 .row h5
{
    color: #888;
    font-weight: 400;
    height: 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.right2 .row .Chekbox1
{
    display: flex;
    align-items: center;  
    height: 50px;
    margin-bottom: 10px;  
    overflow: hidden;
    justify-content: flex-start;
}
.right2 .row .Chekbox1 p
{
    color: #888;
    font-size: 14px;
}
.right2 .row .Chekbox2
{
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    justify-content: flex-start;
}
.right2 .row .Chekbox2 p
{
    color: #888;
    font-size: 14px;
}
.right2 .row .MuiCheckbox-colorSecondary.Mui-checked {
    color: #999;
}
.right2 .row input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.right2 .row .regbtn
{
    width: 50%;
    height: 60px;
    border-radius: 5px;
    background-color: #000;
    font-size: 1.125rem;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
}
.right2 .row .regbtn .link
{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.right2 .row .link1
{
    color: black;
    cursor: pointer;
    font-size: 12px;
}
.right2 .row .h5
{
    font-size: 12px;
    letter-spacing: 0px;
}
.right2 .row .h5 .link2
{
    color: #111;
}