.menu
{
    height: calc(100vh - 160px);
    width: 100%;
    bottom: 0;
    left: -100%;
    background: #fff;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.5s ease;
    z-index: 22;

}
.menu.active2
{
    left: 0px;
}
.left
{
    float: left;
    width: 20%;
    height: 100%;
}
.left .ul1
{
    width: 77%;
    height: 720px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left .ul1 .li2
{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
}
.left .ul1 .li2.active5
{
    background-color: slateblue;
    color: springgreen;
}
h3
{
    color: #595959;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:10px;
}
.left .ul1 .li2:hover i
{
    color: #36f;
}
.left .ul1 .li2:hover a
{
    color: #36f;
}
.left .ul1 .li2:nth-child(1):hover a
{
    color: #36f;
}
.left .ul1 .li2:hover .icon1
{
    color: #36f;
}
.left .ul1 .li2:nth-child(1):hover .icon1
{
    color: #36f;
}
.left .ul1 .li2:nth-child(1)
{
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.left .ul1 .li2 .icon1
{
    font-size: 24px;
    overflow: hidden;
    margin-right: 7px
}
.left .ul1 .li2:nth-child(1) .icon1
{
    overflow: hidden;
    font-size: 24px;
    margin-right: 7px;
}
.left .ul1 .li2 i
{
    font-size: 20px;
    overflow: hidden;
    margin-right: 10px;
}
.left .ul1 .li2 a
{
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    margin-right: 25px;
    color: #595959;
}
.left .ul1 .li2:nth-child(1) a
{
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #595959;
}
.left .ul1 .li2 .i1
{
    position: absolute;
    width: 15px;
    right: 0px;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left .ul1 .li2:nth-child(1) .i1
{
    position: absolute;
    width: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0px;
    z-index: 3;
    font-size: 20px;
}
.right1
{
    float: right;
    width: 80%;
    height: 100%;
}
